<a href="https://colab.research.google.com/github/akshaya6878/python-new/blob/module-1/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**write a python program to find power of number with recursion and without recursion(input n=2 , p=3)**

In [ ]:
def pow(a,b):
  print(a**b)
x,y=map(int,input().split())
pow(x,y)

2 3
8

In [ ]:
def pow(a,b):
  if b==0:
    return 1
  return(a*pow(a,b-1))
a=int(input("enter any number"))
b=int(input("enter power"))
print(pow(a,b))

enter any number2
enter power3
8

**write a program to sort tuple by total digits (input: list=[(3,4,6,723),(1,2),(134,234,34)])
      output:[(1,2)(3,4,6,723)(34,134,234)]**

In [ ]:
a=eval(input("enter list of tupples"))
print(sorted(a))

enter list of tuples[(3,4,6,723),(1,2),(134,234,34)]
[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
a=[(3,4,6,723),(1,2),(134,234,34)]
a.sort()
print(a)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
a=eval(input("enter list of tuples"))
for i in range(0,len(a)):
  a[i]=sorted(a[i])
print(sorted(a))

enter list of tuples[(3,4,6,723),(1,2),(134,234,34)]
[[1, 2], [3, 4, 6, 723], [34, 134, 234]]

**take five subjects from the user and display the grade of the student,if average is 90-100(o),80-89(a+),70-79(a)...**

In [ ]:
sub1=int(input("enter marks"))
sub2=int(input("enter marks"))
sub3=int(input("enter marks"))
sub4=int(input("enter marks"))
sub5=int(input("enter marks"))
avg=(sub1+sub2+sub3+sub4+sub5)/5
if(avg>=90):
  print("grade A")
elif(avg>=80 and avg<90):
  print("grade B")
elif(avg>=70 and avg<80):
    print("grade C")
elif(avg>=60 and avg<70):
  print("grade D")
else:
    print("grade E")

enter marks98
enter marks89
enter marks78
enter marks98
enter marks78
grade B

**write a python program that prints 1 if all three given numbers are ascending order**

In [ ]:
a,b,c=map(int,input().split())
if c>b and b>a:
  print(1)

4 3 7

**check a given number is perfect number are not**

In [ ]:
a=int(input("enter the number"))
sum=0
for i in range (1,a):
  if a%i==0:
    sum=sum+i
    if sum==a:
      print("perfect number")
else:
          print("not a perfect number")

enter the number45
not a perfect number

**check a given string is a pallindrome or not**